<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allan.lin.zhou.scheduler">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scheduler"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CameraReminder"
            android:label="Camera Reminders" />
        <activity
            android:name=".CameraView"
            android:label="Camera" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.allan.lin.zhou.scheduler"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".EmailNotification">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Email" />
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/email" />
        <activity
            android:name=".Music"
            android:label="Music" />
        <activity
            android:name=".Meditation"
            android:label="@string/nav_mental" />
        <activity
            android:name=".ReminderEdit"
            android:label="@string/nav_reminder" />
        <activity
            android:name=".EventEdit"
            android:label="@string/nav_schedule" />
        <activity
            android:name=".WeeklyView"
            android:label="@string/nav_schedule" />
        <activity
            android:name=".Calendar"
            android:label="Calendar" />
        <activity
            android:name=".Inspire"
            android:label="@string/inspire" />
        <activity
            android:name=".Extracurriculars"
            android:label="@string/nav_extracurriculars" />
        <activity
            android:name=".Homework"
            android:label="@string/nav_homework" />
        <activity
            android:name=".ui.login.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity
            android:name=".Mindfulness"
            android:label="@string/nav_mental" />
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity
            android:name=".Reminders"
            android:label="@string/nav_reminder" />
        <activity
            android:name=".MainActivity"
            android:label="Scheduler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Notification Receivers -->
        <receiver android:name=".ReminderReceiver" />
        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".MindfulnessReceiver" />

    </application>

</manifest>