<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allan.lin.zhou.scheduler">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scheduler"
        android:usesCleartextTraffic="true">

        <activity android:name=".EmailNotification">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Email" />
        </activity>

        <activity android:name=".Email" />
        <activity android:name=".Music" />
        <activity android:name=".Meditation" />
        <activity android:name=".ReminderEdit" />
        <activity android:name=".EventEdit" />
        <activity android:name=".WeeklyView" />
        <activity android:name=".Calendar" />
        <activity android:name=".Inspire" />
        <activity android:name=".Extracurriculars" />
        <activity android:name=".Homework" />
        <activity
            android:name=".ui.login.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity android:name=".Mindfulness" />
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:theme="@style/Theme.Scheduler.NoActionBar" />
        <activity android:name=".Reminders" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Notification Receivers -->
        <receiver android:name=".ReminderReceiver" />
        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>